<app-encabezado></app-encabezado>

<ion-content>
  <ion-list class="ion-text-center">
    <ion-item>
      <ion-input label="Nombre" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button expand="block" fill="outline" >Lugar</ion-button>
      
    </ion-item>
    <ion-item>
      <ion-label>Fecha</ion-label>
    </ion-item>
    <ion-datetime presentation="date" [(ngModel)]="datetime"></ion-datetime>

    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Espacio Disponible</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>1</ion-item>
          <ion-item>2</ion-item>
          <ion-item>3</ion-item>
          <ion-item>No hay espacio</ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>

    <ion-item>
      <ion-input label="Precio" type="number" placeholder="000"></ion-input>
    </ion-item>

    <ion-button expand="block" fill="outline" (click)="viajecreado()">Crear Viaje</ion-button>
  </ion-list>
</ion-content>
