<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="Volver" mode="ios" defaultHref="/conductor-crear-viajes"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>
        <ion-input [(ngModel)]="lugarInicio" placeholder="lugar de inicio"></ion-input>

        <ion-input [(ngModel)]="lugarDestino" placeholder="lugar de destino"></ion-input>
        <ion-button (click)="guardarViaje()">guardar</ion-button>
    </ion-card>
    <div #map style="height: 50%;"></div>
</ion-content>