<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mis Viajes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" mode="ios" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



  <!-- Sección para mostrar los viajes creados -->
  <ion-list>
    <ion-item-divider color="light">
      <ion-label>Viajes disponibles</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let viaje of viajes">
      <ion-label>
        <h2>{{ viaje.nombre }}</h2>
        <p>Fecha: {{ viaje.fecha | date: 'dd/MM/yyyy' }}</p>
        <p>Espacios Disponibles: {{ viaje.espacioDisponible }}</p>
        <p>Precio: ${{ viaje.precio }}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="viajes.length === 0">
      <ion-label color="medium">No hay viajes disponibles aún.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>