<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" placeholder="Enter text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Lugar</ion-label>
    <ion-button> LUGAR </ion-button>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Fecha</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="fecha"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Espacio Disponible</ion-label>
    <ion-select [(ngModel)]="espacioDisponible">
      <ion-select-option *ngFor="let espacio of [1, 2, 3]" [value]="espacio">{{ espacio }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Precio</ion-label>
    <ion-input type="number" [(ngModel)]="precio" placeholder="1000"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="viajecreado()">CREAR VIAJE</ion-button>
</ion-content>
